## All messages
does not discriminate between messages and replies. uses csv files

In [1]:
import pandas as pd
import json
import re

In [5]:
df = pd.read_csv('lit-talk.csv')
df.head()

,AuthorID,Author,Date,Content,Attachments,Reactions
0,816102264892293121,e.rinh,2023-05-31T12:43:14.1780000+12:00,Joined the server.,NaN,NaN
1,526983628408881179,lisa38,2023-05-31T12:43:15.9490000+12:00,NaN,NaN,NaN
2,816102264892293121,e.rinh,2023-05-31T12:43:17.4840000+12:00,NaN,NaN,NaN
3,526983628408881179,lisa38,2023-05-31T12:44:00.6970000+12:00,NaN,NaN,NaN
4,526983628408881179,lisa38,2023-05-31T12:44:07.6330000+12:00,i feel so much alive again,NaN,NaN

In [24]:
dflisa = df[df['Author'] == "lisa38"]
dflisa.head()

,AuthorID,Author,Date,Content,Attachments,Reactions
1,526983628408881179,lisa38,2023-05-31T12:43:15.9490000+12:00,NaN,NaN,NaN
3,526983628408881179,lisa38,2023-05-31T12:44:00.6970000+12:00,NaN,NaN,NaN
4,526983628408881179,lisa38,2023-05-31T12:44:07.6330000+12:00,i feel so much alive again,NaN,NaN
8,526983628408881179,lisa38,2023-05-31T12:49:22.1400000+12:00,NaN,NaN,NaN
9,526983628408881179,lisa38,2023-05-31T12:49:56.1980000+12:00,HOW DO I RENAME A SERVER,NaN,NaN

In [25]:
dflisa = dflisa.dropna(subset=['Content'])
dflisa.head()

,AuthorID,Author,Date,Content,Attachments,Reactions
4,526983628408881179,lisa38,2023-05-31T12:44:07.6330000+12:00,i feel so much alive again,NaN,NaN
9,526983628408881179,lisa38,2023-05-31T12:49:56.1980000+12:00,HOW DO I RENAME A SERVER,NaN,NaN
19,526983628408881179,lisa38,2023-05-31T12:51:41.5310000+12:00,WHOS NOT IN IT,NaN,NaN
22,526983628408881179,lisa38,2023-05-31T12:52:15.6680000+12:00,first sticker c:,NaN,NaN
25,526983628408881179,lisa38,2023-05-31T12:52:52.0160000+12:00,yeah wheeres the pizza,NaN,NaN

In [26]:
dflisa.drop(['AuthorID','Date','Attachments','Reactions'], axis=1, inplace=True)
dflisa.head()

    Author                     Content
4   lisa38  i feel so much alive again
9   lisa38    HOW DO I RENAME A SERVER
19  lisa38              WHOS NOT IN IT
22  lisa38            first sticker c:
25  lisa38      yeah wheeres the pizza

In [ ]:
dflisa.to_csv('dflisa.csv', index=False)

## Replies
Use code below for pulling replies from json files

In [4]:
df_replies = pd.read_csv('replies.csv')
df_replies.head()

                    ID             Reply ID
0  1113266411322753154  1113266403894624327
1  1113266411322753154  1113266403894624327
2  1113266411322753154  1113266403894624327
3  1113267947239112724  1113267853114744842
4  1113267947239112724  1113267853114744842

In [7]:
df_replies = df_replies.drop_duplicates(subset=['ID', 'Reply ID'])
df_replies.head()

                     ID             Reply ID
0   1113266411322753154  1113266403894624327
3   1113267947239112724  1113267853114744842
5   1113268437385494599  1113268395534721034
11  1113268835001303071  1113268796778631188
18  1113269559298891827  1113269551057084446

In [14]:
with open('Example guild - Text Channels - lit server[1113266262345273428].json', encoding='utf-8') as file:
    data = json.load(file)
    
messages = data['messages']

In [16]:
for message in messages[:2]:
    print(json.dumps(message, indent=4))

{
    "id": "1113266403894624327",
    "type": "GuildMemberJoin",
    "timestamp": "2023-05-31T12:43:14.178+12:00",
    "timestampEdited": null,
    "callEndedTimestamp": null,
    "isPinned": false,
    "content": "Joined the server.",
    "author": {
        "id": "816102264892293121",
        "name": "e.rinh",
        "discriminator": "0000",
        "nickname": "arin \ud83d\udc22",
        "color": "#4EFFF6",
        "isBot": false,
        "roles": [
            {
                "id": "1129345520582791210",
                "name": "erins fav colour",
                "color": "#4EFFF6",
                "position": 47
            },
            {
                "id": "1113270307151683688",
                "name": "bozo",
                "color": null,
                "position": 44
            },
            {
                "id": "1146220171443310675",
                "name": "\u3164\u3164\u3164\u3164\u3164Colourful\u3164\u3164\u3164\u3164\u3164\u3164\u3164",
                "color": null,
                "position": 43
            },
            {
                "id": "1146221431370289233",
                "name": "\u3164\u3164\u3164\u3164\u3164Slay Sisters\u3164\u3164\u3164\u3164\u3164\u3164",
                "color": null,
                "position": 30
            },
            {
                "id": "1129971932830375997",
                "name": "plexpeeps",
                "color": "#F1C40F",
                "position": 28
            },
            {
                "id": "1130995238656286860",
                "name": "besorry",
                "color": "#EBEEC8",
                "position": 27
            },
            {
                "id": "1133182695858524192",
                "name": "unipeople",
                "color": "#E1FF4D",
                "position": 26
            },
            {
                "id": "1133540124274217100",
                "name": "hi barbie! \ud83d\udc97",
                "color": "#ECB7E7",
                "position": 25
            },
            {
                "id": "1136194098559197264",
                "name": "fartnite",
                "color": "#44ECB8",
                "position": 22
            },
            {
                "id": "1147687115832971264",
                "name": "Team Fart 2",
                "color": "#44ECB8",
                "position": 21
            },
            {
                "id": "1172025556594856007",
                "name": "beach",
                "color": "#3498DB",
                "position": 18
            },
            {
                "id": "1147732200196935771",
                "name": "\ud83d\udc37\ud83d\udc11\ud83e\udd7a\ud83e\udd79",
                "color": "#EFB1E4",
                "position": 17
            },
            {
                "id": "1146225443314335785",
                "name": "\u3164\u3164\u3164\u3164\u3164\u3164Foodies\u3164\u3164\u3164\u3164\u3164\u3164\u3164",
                "color": null,
                "position": 16
            },
            {
                "id": "1146231190307741776",
                "name": "Munchies",
                "color": "#D4C227",
                "position": 15
            },
            {
                "id": "1146229668790423566",
                "name": "I LOVE ALL FOOD \u2764\ufe0f",
                "color": "#F35FC2",
                "position": 14
            }
        ],
        "avatarUrl": "https://cdn.discordapp.com/avatars/816102264892293121/0e4bfee907c87d5f4f8ede776ebc5480.png?size=512"
    },
    "attachments": [],
    "embeds": [],
    "stickers": [],
    "reactions": [],
    "mentions": []
}
{
    "id": "1113266411322753154",
    "type": "Reply",
    "timestamp": "2023-05-31T12:43:15.949+12:00",
    "timestampEdited": null,
    "callEndedTimestamp": null,
    "isPinned": false,
    "content": "",
    "author": {
        "id": "526983628408881179",
        "name": "lisa38",
        "discriminator": "0000",
        "nickname": "pizza \ud83d\udc85\ud83c\udffb",
        "color": "#F59BF6",
        "isBot": false,
        "roles": [
            {
                "id": "1132156923647643648",
                "name": "lisa wants a pink display",
                "color": "#F59BF6",
                "position": 46
            },
            {
                "id": "1113270307151683688",
                "name": "bozo",
                "color": null,
                "position": 44
            },
            {
                "id": "1146220171443310675",
                "name": "\u3164\u3164\u3164\u3164\u3164Colourful\u3164\u3164\u3164\u3164\u3164\u3164\u3164",
                "color": null,
                "position": 43
            },
            {
                "id": "1146221431370289233",
                "name": "\u3164\u3164\u3164\u3164\u3164Slay Sisters\u3164\u3164\u3164\u3164\u3164\u3164",
                "color": null,
                "position": 30
            },
            {
                "id": "1129971932830375997",
                "name": "plexpeeps",
                "color": "#F1C40F",
                "position": 28
            },
            {
                "id": "1130995238656286860",
                "name": "besorry",
                "color": "#EBEEC8",
                "position": 27
            },
            {
                "id": "1133182695858524192",
                "name": "unipeople",
                "color": "#E1FF4D",
                "position": 26
            },
            {
                "id": "1133540124274217100",
                "name": "hi barbie! \ud83d\udc97",
                "color": "#ECB7E7",
                "position": 25
            },
            {
                "id": "1136194098559197264",
                "name": "fartnite",
                "color": "#44ECB8",
                "position": 22
            },
            {
                "id": "1137505272882016287",
                "name": "monopoly goers",
                "color": "#EF1313",
                "position": 20
            },
            {
                "id": "1144049471043424416",
                "name": "costcoers",
                "color": "#16ACFA",
                "position": 19
            },
            {
                "id": "1172025556594856007",
                "name": "beach",
                "color": "#3498DB",
                "position": 18
            },
            {
                "id": "1147732200196935771",
                "name": "\ud83d\udc37\ud83d\udc11\ud83e\udd7a\ud83e\udd79",
                "color": "#EFB1E4",
                "position": 17
            },
            {
                "id": "1146225443314335785",
                "name": "\u3164\u3164\u3164\u3164\u3164\u3164Foodies\u3164\u3164\u3164\u3164\u3164\u3164\u3164",
                "color": null,
                "position": 16
            },
            {
                "id": "1146231190307741776",
                "name": "Munchies",
                "color": "#D4C227",
                "position": 15
            },
            {
                "id": "1146227897229647882",
                "name": "Vegetarian \ud83c\udf31",
                "color": "#2ECC71",
                "position": 12
            }
        ],
        "avatarUrl": "https://cdn.discordapp.com/avatars/526983628408881179/4eefd0f6f50f11dae65cb1a74301f07f.png?size=512"
    },
    "attachments": [],
    "embeds": [],
    "stickers": [
        {
            "id": "781291131828699156",
            "name": "Wave",
            "format": "Apng",
            "sourceUrl": "https://cdn.discordapp.com/stickers/781291131828699156.png"
        }
    ],
    "reactions": [],
    "mentions": [
        {
            "id": "816102264892293121",
            "name": "e.rinh",
            "discriminator": "0000",
            "nickname": "arin \ud83d\udc22",
            "color": "#4EFFF6",
            "isBot": false,
            "roles": [
                {
                    "id": "1129345520582791210",
                    "name": "erins fav colour",
                    "color": "#4EFFF6",
                    "position": 47
                },
                {
                    "id": "1113270307151683688",
                    "name": "bozo",
                    "color": null,
                    "position": 44
                },
                {
                    "id": "1146220171443310675",
                    "name": "\u3164\u3164\u3164\u3164\u3164Colourful\u3164\u3164\u3164\u3164\u3164\u3164\u3164",
                    "color": null,
                    "position": 43
                },
                {
                    "id": "1146221431370289233",
                    "name": "\u3164\u3164\u3164\u3164\u3164Slay Sisters\u3164\u3164\u3164\u3164\u3164\u3164",
                    "color": null,
                    "position": 30
                },
                {
                    "id": "1129971932830375997",
                    "name": "plexpeeps",
                    "color": "#F1C40F",
                    "position": 28
                },
                {
                    "id": "1130995238656286860",
                    "name": "besorry",
                    "color": "#EBEEC8",
                    "position": 27
                },
                {
                    "id": "1133182695858524192",
                    "name": "unipeople",
                    "color": "#E1FF4D",
                    "position": 26
                },
                {
                    "id": "1133540124274217100",
                    "name": "hi barbie! \ud83d\udc97",
                    "color": "#ECB7E7",
                    "position": 25
                },
                {
                    "id": "1136194098559197264",
                    "name": "fartnite",
                    "color": "#44ECB8",
                    "position": 22
                },
                {
                    "id": "1147687115832971264",
                    "name": "Team Fart 2",
                    "color": "#44ECB8",
                    "position": 21
                },
                {
                    "id": "1172025556594856007",
                    "name": "beach",
                    "color": "#3498DB",
                    "position": 18
                },
                {
                    "id": "1147732200196935771",
                    "name": "\ud83d\udc37\ud83d\udc11\ud83e\udd7a\ud83e\udd79",
                    "color": "#EFB1E4",
                    "position": 17
                },
                {
                    "id": "1146225443314335785",
                    "name": "\u3164\u3164\u3164\u3164\u3164\u3164Foodies\u3164\u3164\u3164\u3164\u3164\u3164\u3164",
                    "color": null,
                    "position": 16
                },
                {
                    "id": "1146231190307741776",
                    "name": "Munchies",
                    "color": "#D4C227",
                    "position": 15
                },
                {
                    "id": "1146229668790423566",
                    "name": "I LOVE ALL FOOD \u2764\ufe0f",
                    "color": "#F35FC2",
                    "position": 14
                }
            ],
            "avatarUrl": "https://cdn.discordapp.com/avatars/816102264892293121/0e4bfee907c87d5f4f8ede776ebc5480.png?size=512"
        }
    ],
    "reference": {
        "messageId": "1113266403894624327",
        "channelId": "1113266262345273428",
        "guildId": "1113266261619642398"
    }
}

In [18]:
df = pd.json_normalize(messages)
print(df.columns)
df.head()

Index(['id', 'type', 'timestamp', 'timestampEdited', 'callEndedTimestamp',
       'isPinned', 'content', 'attachments', 'embeds', 'stickers', 'reactions',
       'mentions', 'author.id', 'author.name', 'author.discriminator',
       'author.nickname', 'author.color', 'author.isBot', 'author.roles',
       'author.avatarUrl', 'reference.messageId', 'reference.channelId',
       'reference.guildId', 'interaction.id', 'interaction.name',
       'interaction.user.id', 'interaction.user.name',
       'interaction.user.discriminator', 'interaction.user.nickname',
       'interaction.user.color', 'interaction.user.isBot',
       'interaction.user.roles', 'interaction.user.avatarUrl'],
      dtype='object')

,id,type,timestamp,timestampEdited,callEndedTimestamp,isPinned,content,attachments,embeds,stickers,...,interaction.id,interaction.name,interaction.user.id,interaction.user.name,interaction.user.discriminator,interaction.user.nickname,interaction.user.color,interaction.user.isBot,interaction.user.roles,interaction.user.avatarUrl
0,1113266403894624327,GuildMemberJoin,2023-05-31T12:43:14.178+12:00,None,None,False,Joined the server.,[],[],[],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1113266411322753154,Reply,2023-05-31T12:43:15.949+12:00,None,None,False,,[],[],"[{'id': '781291131828699156', 'name': 'Wave', ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1113266417761001584,Reply,2023-05-31T12:43:17.484+12:00,None,None,False,,[],[],"[{'id': '781291131828699156', 'name': 'Wave', ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1113266599009468447,Default,2023-05-31T12:44:00.697+12:00,None,None,False,,[],[],"[{'id': '1113266564272230481', 'name': '#emo',...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1113266628101161020,Default,2023-05-31T12:44:07.633+12:00,None,None,False,i feel so much alive again,[],[],[],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [66]:
dfjson = df[['id', 'type','content','author.name','reference.messageId']]
dfjson.head()

,id,type,content,author.name,reference.messageId
0,1113266403894624327,GuildMemberJoin,Joined the server.,e.rinh,NaN
1,1113266411322753154,Reply,,lisa38,1113266403894624327
2,1113266417761001584,Reply,,e.rinh,1113266403894624327
3,1113266599009468447,Default,,lisa38,NaN
4,1113266628101161020,Default,i feel so much alive again,lisa38,NaN

In [68]:
dfjson = dfjson.dropna(subset=['content'])
dfjson = dfjson[dfjson['content'].str.strip() != '']
dfjson.head()

,id,type,content,author.name,reference.messageId
0,1113266403894624327,GuildMemberJoin,Joined the server.,e.rinh,NaN
4,1113266628101161020,Default,i feel so much alive again,lisa38,NaN
5,1113267853114744842,GuildMemberJoin,Joined the server.,buddymmmm1,NaN
6,1113267867266338917,Default,HELLO STICKER,buddymmmm1,NaN
9,1113268090088722492,Default,HOW DO I RENAME A SERVER,lisa38,NaN

In [69]:
merged_df = pd.merge(dfjson, dfjson, left_on='id', right_on='reference.messageId', suffixes=('_message', '_reply'))
print(f"rows: {len(merged_df)}")
merged_df.head()

rows: 15217

,id_message,type_message,content_message,author.name_message,reference.messageId_message,id_reply,type_reply,content_reply,author.name_reply,reference.messageId_reply
0,1113270861185695775,Default,imagine not having nitro lisa,e.rinh,NaN,1113270890994606211,Reply,:lisacat:,lisa38,1113270861185695775
1,1113270932434337812,Default,make everyone admin,bombard21,NaN,1113271003657805905,Reply,should i @brioche 🦑 @arin 🐢,lisa38,1113270932434337812
2,1113274588558786610,Default,@everyone fuck you,oc2906,NaN,1113275341440561203,Reply,where is the love,e.rinh,1113274588558786610
3,1113275874926665789,Default,:cpmad:,e.rinh,NaN,1113276459507785758,Reply,Food,wobkobi,1113275874926665789
4,1113276459507785758,Reply,Food,wobkobi,1113275874926665789,1113277357483102300,Reply,where u going,e.rinh,1113276459507785758

In [70]:
lisa_replies_df = merged_df[merged_df['author.name_reply'] == "lisa38"]
print(f"rows: {len(lisa_replies_df)}")
lisa_replies_df.head()

rows: 4311

,id_message,type_message,content_message,author.name_message,reference.messageId_message,id_reply,type_reply,content_reply,author.name_reply,reference.messageId_reply
0,1113270861185695775,Default,imagine not having nitro lisa,e.rinh,NaN,1113270890994606211,Reply,:lisacat:,lisa38,1113270861185695775
1,1113270932434337812,Default,make everyone admin,bombard21,NaN,1113271003657805905,Reply,should i @brioche 🦑 @arin 🐢,lisa38,1113270932434337812
9,1113277612073177108,Default,take photo of food,e.rinh,NaN,1113280670333153340,Reply,Don’t take a photo of food,lisa38,1113277612073177108
11,1113280820904476713,Default,you are mean,e.rinh,NaN,1113280850642088026,Reply,:ken:,lisa38,1113280820904476713
14,1113281589040922704,Reply,No,bombard21,1113281163331649587,1113281648037990470,Reply,that’s a bit mean,lisa38,1113281589040922704

In [71]:
final_df = lisa_replies_df[['content_message', 'content_reply']]
print(f"rows: {len(final_df)}")
final_df.head()

rows: 4311

                  content_message                content_reply
0   imagine not having nitro lisa                    :lisacat:
1             make everyone admin  should i @brioche 🦑 @arin 🐢
9              take photo of food   Don’t take a photo of food
11                   you are mean                        :ken:
14                             No            that’s a bit mean

In [72]:
final_df = final_df.rename(columns={'content_message': 'original_message', 'content_reply': 'lisas_reply'})
print(f"rows: {len(final_df)}")

rows: 4311

In [73]:
final_df.to_csv('reply2.csv', index=False)

In [ ]:
#the final file contains large numbers of emoji based replies. will probably need to remove these.

In [3]:
#now lets seperate the emojis from the rest. 
df = pd.read_csv('reply2.csv')
df.head()

                original_message                  lisas_reply
0  imagine not having nitro lisa                    :lisacat:
1            make everyone admin  should i @brioche 🦑 @arin 🐢
2             take photo of food   Don’t take a photo of food
3                   you are mean                        :ken:
4                             No            that’s a bit mean

In [12]:
discord_emoji_pattern = re.compile(r":[a-zA-Z0-9_]+:")

def extract_custom_emojis(text):
    match = discord_emoji_pattern.findall(text)
    return match[0] if match else ''

def remove_custom_emojis(text):
    return discord_emoji_pattern.sub('', text)

df['reply_text'] = df['lisas_reply'].apply(lambda x: remove_custom_emojis(x))
df['reply_emojis'] = df['lisas_reply'].apply(lambda x: extract_custom_emojis(x))

In [13]:
df.to_csv('emoji.csv', index=False)

In [14]:
df.head()

,original_message,lisas_reply,reply_text,reply_emojis
0,imagine not having nitro lisa,:lisacat:,,:lisacat:
1,make everyone admin,should i @brioche 🦑 @arin 🐢,should i @brioche 🦑 @arin 🐢,
2,take photo of food,Don’t take a photo of food,Don’t take a photo of food,
3,you are mean,:ken:,,:ken:
4,No,that’s a bit mean,that’s a bit mean,

In [15]:
average_length = df['lisas_reply'].str.len().mean()

print(f"The average length of strings in the column is: {average_length}")

The average length of strings in the column is: 16.558571097193227

In [17]:
average_word_count = df['lisas_reply'].apply(lambda x: len(x.split())).mean()

print(f"The average number of words in the column is: {average_word_count}")

The average number of words in the column is: 3.012526096033403